<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>todo-list</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%=day%></h1>
    </div>
    <div class="box">
      <% for(var i=0;i<listItem.length;i++){%>
        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="checkbox" value="<%=listItem[i]._id %>" onchange="this.form.submit()">
            <p><%=listItem[i].name%></p>
          </div>
          <input type="hidden" name="listname" value="<%=day%>"></input>
          </form>
          <% } %>
      <form class="item" action="/" method="post">
        <input type="text" name="todo" placeholder="enter your todo" autocomplete="off">
        <button type="submit" name="button" value=<%=day%> >+</button>
      </form>
    </div>


  </body>
</html>
